nicegui
python-docx
pypdf
docx2pdf
langchain
langchain-community
langchain-openai
unstructured
pyhwp
llama-cpp-python[server]
starlette
sse-starlette
starlette-context
pydantic-settings
fastapi
uvicorn
nltk
pyinstaller
faiss-cpu
numpy
requests
feedparser
sentence-transformers
pandas
langgraph
scikit-learn
python-dotenv
