nicegui
python-docx
pypdf
docx2pdf
langchain
langchain-community
langchain-openai
unstructured
pyhwp
sse-starlette
starlette-context
pydantic-settings
fastapi
uvicorn
nltk
pyinstaller
faiss-cpu
numpy
requests
feedparser
sentence-transformers
pandas
openpyxl
langgraph
scikit-learn
