/* Pretendard Variable - offline */
@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/static/fonts/pretendard-variable-0.woff2') format('woff2');
}
